<div class="row">
  <div class="col-md-6">
    <h3>Tuesday 11th May</h3>
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank"
            rel="noopener noreferrer">Pre-workshop survey</a> </td>
      </tr>
      <tr>
        <td>09:30</td>
        <td>Introduction/Automating Tasks with the Unix Shell<br />
          <a
            href="https://sipbs-compbiol.github.io/2021-05-11-strathclyde-online/lessons/introduction/introduction.html">Introduction
            Slides</a> |
          <a
            href="https://sipbs-compbiol.github.io/2021-05-11-strathclyde-online/lessons/shell/Shell_novice_Steves_notes.md">Unix
            Cheatsheet</a> |
          <a href="https://swcarpentry.github.io/shell-novice/lessons/shell/data-shell.zip">dataset</a>
        </td>
      </tr>
      <tr>
        <td>10:15</td>
        <td>Morning break 1</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Automating Tasks with the Unix Shell (Continued)<br />
          <a href="https://strathsci.qualtrics.com/jfe/form/SV_8eTGqKYUA7zWL3g">feedback survey</a>
        </td>
      </tr>
      <tr>
        <td>11:15</td>
        <td>Morning break 2</td>
      </tr>
      <tr>
        <td>11:30</td>
        <td>Automating Tasks with the Unix Shell (Continued)</td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>Programming and data visualisation with R<br />
          <a
            href="https://sipbs-compbiol.github.io/2021-05-11-strathclyde-online/lessons/r-lesson/r-lesson.html">Slides</a>
          | <a
            href="https://sipbs-compbiol.github.io/2021-05-11-strathclyde-online/lessons/r-lesson/r-lesson.pdf">Notes</a>
          | <a
            href="https://github.com/swcarpentry/r-novice-inflammation/raw/main/data/r-novice-inflammation-data.zip">inflammation
            data</a> | <a
            href="https://raw.githubusercontent.com/resbaz/r-novice-gapminder-files/master/data/gapminder-FiveYearData.csv">gapminder
            data</a>
        </td>
      </tr>
      <tr>
        <td>14:15</td>
        <td>Afternoon break 1</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Programming and data visualisation with R (Continued)</td>
      </tr>
      <tr>
        <td>15:15</td>
        <td>Afternoon break 2</td>
      </tr>
      <tr>
        <td>16:30</td>
        <td>Programming and data visualisation with R (Continued)<br />
          <a href="https://strathsci.qualtrics.com/jfe/form/SV_erLnjZ6rvJnoGBo">feedback survey</a>
        </td>
      </tr>
      <tr>
        <td>16:15</td>
        <td>Wrap-up</td>
      </tr>
      <tr>
        <td>16:30</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday 12th May</h3>
    <table class="table table-striped">
      <tr>
        <td>09:30</td>
        <td>Data Cleaning With OpenRefine<br />
          <a href="https://ndownloader.figshare.com/files/7823341">species dataset</a>
        </td>
      </tr>
      <tr>
        <td>10:15</td>
        <td>Morning break 1</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Data Cleaning With OpenRefine (Continued)</td>
      </tr>
      <tr>
        <td>11:15</td>
        <td>Morning break 2</td>
      </tr>
      <tr>
        <td>11:30</td>
        <td>Data Cleaning With OpenRefine (Continued)<br />
          <a href="https://strathsci.qualtrics.com/jfe/form/SV_5tEJ8CvqTumCnTE">feedback survey</a>
        </td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>Programming and data analysis with R<br />
          <a
            href="https://sipbs-compbiol.github.io/2021-05-11-strathclyde-online/lessons/r-lesson/r-lesson.html">Slides</a>
          | <a
            href="https://sipbs-compbiol.github.io/2021-05-11-strathclyde-online/lessons/r-lesson/r-lesson.pdf">Notes</a>
          | <a
            href="https://github.com/swcarpentry/r-novice-inflammation/raw/main/data/r-novice-inflammation-data.zip">inflammation
            data</a> | <a
            href="https://raw.githubusercontent.com/resbaz/r-novice-gapminder-files/master/data/gapminder-FiveYearData.csv">gapminder
            data</a>
        </td>
      </tr>
      <tr>
        <td>14:15</td>
        <td>Afternoon break 1</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Programming and data analysis with R (Continued)</td>
      </tr>
      <tr>
        <td>15:15</td>
        <td>Afternoon break 2</td>
      </tr>
      <tr>
        <td>15:30</td>
        <td>Programming and data analysis with R (Continued)<br />
          <a href="https://strathsci.qualtrics.com/jfe/form/SV_24vlQ5NOAI0prZs">feedback survey</a>
        </td>
      </tr>
      <tr>
        <td>16:15</td>
        <td>Wrap-up</td>
      </tr>
      <tr>
        <td>16:30</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank"
            rel="noopener noreferrer">Post-workshop Survey</a></td>
      </tr>
      <tr>
        <td>16:45</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>